body{
    margin:0;
    background:linear-gradient(135deg,#111,#222,#333);
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

h1{
    font-size:60px;
    margin-top:60px;
    color:#00ffcc;
    text-shadow:0 0 20px #00ffcc;
}

p{
    font-size:22px;
}

button{
    padding:15px 35px;
    font-size:20px;
    border:none;
    border-radius:12px;
    background:#00ffcc;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
    background:white;
}
